.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

.mw-100 {
    max-width: 100% !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}