.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

.mw-100 {
    max-width: 100% !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*https://stackoverflow.com/questions/163628/making-email-addresses-safe-from-bots-on-a-webpage#answer-41566570*/
.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}