$blue: #000040;
$beige: #ffffbf;

$font-size: 20px;
/*$font-color: black;*/
$font-color: $beige;
$font-primary: "IBM Plex Mono", monospace;
$font-primary-backup: Courier New, Courier, monospace;

$link-color: #84e0ff; // light cyan-blue
$link-visited-color: #569db3; // desaturated blue

$background-color: $blue;
$primary-background-color: black;
$primary-font-color: $beige;

$button-primary-background-color: $beige;
$button-primary-font-color: $blue;
$button-secondary-background-color: $blue;
$button-secondary-font-color: $beige;

/*#000040 --BG*/
/*#ffffbf - TEXT*/