@charset 'utf-8';

@import "_variables";
@import "_helpers";
@import "_nav";
@import "_cards";

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}

a {
    color: $link-color;
}

a:visited {
    color: $link-visited-color;
}

.design-container {
    width: 100%;
    justify-content: start;
    align-items: start;
    display: grid;
    grid-template-columns: 1fr;
}

@media(min-width: 768px) {
    .design-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.design-container .design-element {
    background-color: green;
    /*min-width: 300px;*/
    /*max-width: 400px;*/
    height: 200px;
    flex: 0 1 auto;
    flex-grow: 1;
    align-self: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    filter: saturate(0%);
    transition: all 0.2s ease-in-out;
}

.design-container .design-element:hover {
    filter: saturate(100%);
}

.design-container .design-element img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.rambling-container {
}

.rambling-container .rambling p {
    padding: 0 2rem;
}

.rambling-container .rambling .date {
    font-size: 16px;
}

.img-fluid {
    width: 100%;
}

.table, .table td {
    border: solid 1px #000;
    margin-bottom: 1rem;
}

pre {
    border: 1px solid #000;
    overflow: scroll;
    max-height: 600px;
}

html {
    margin: 0;
    padding: 0;
    font-size: $font-size;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: $font-primary-backup;
    font-family: $font-primary;
    min-height: calc(100vh - 4px);
}

@media(min-width: 1024px) {
    body {
        /*border: 1px solid yellow;*/
    }
}

@keyframes spin360 {
    to {
        transform: rotate(360deg);
    }
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 1rem;
    word-break: break-word;
    word-spacing: -.5ch;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

@media(min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.main-body {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem 1rem 1rem;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;*/
}

.blog-content {
    word-wrap: anywhere;
    max-width: 40rem;
    display: block;
    margin: 0 auto;
}

.blog-content img {
    display: block;
    margin: 0 auto;
}

.blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5 {
    margin-top: 4rem;
}

.blog-content p {
    margin: 1.5rem 0;
}

.back-to-top {
    display: block;
    width: 100%;
    background-color: $primary-background-color;
    color: $font-color;
    padding: 1em 0;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
}

.tag-list {
    display: block;
    /*margin-top: 0.3em;*/
}

@media(min-width: 768px) {
    .tag-list {
        display: inline-block;
    }
}

.tag {
    background-color: $beige;
    color: $blue;
    text-decoration: none;
    font-size: 0.9em;
    white-space: nowrap;
}

.tag-container {
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

hr {
    border-color: $font-color;
    border-style: dashed;
}

ul {
    padding-left: 2ch;
}

ol {
    padding-left: 3ch;
}

/*.blog-post-list {
    .post {
        display: grid;
        grid-template-columns: auto 1fr;*/ /* col1 auto width, right side fills */
/*grid-template-rows: auto auto;*/ /* stack col2 + col3 */
/*gap: 1rem;
        grid-row-gap: 0;
        margin-bottom: 0.3em;
        padding-bottom: 1em;

        .date {
            flex: 0 0 auto;*/ /* don't grow, don't shrink, auto width */
/*}

        .title {
            grid-row: 1;
            grid-column: 2;
        }

        .tags {
            grid-row: 2;
            grid-column: 2;
        }
    }
}*/


.blog-post-list {
    .post {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 1.5em;

        .date {
            flex-grow: 0;
            text-align: left;
            white-space: nowrap;
        }

        .title {
            /*flex-grow: 1;*/
            text-align: left;
        }

        .arrow {
            display: none;
        }

        .tags {
            display: none;
        }
    }

    .post:hover {
        background-color: #590059;
    }
}

@media (min-width: 1200px) {
    .blog-post-list {
        font-size: 1rem;

        .post {
            margin-bottom: 0.3em;
            flex-direction: row;
            gap: 1rem;

            .arrow {
                display: block;
                flex-grow: 1;
                text-align: left;

                hr {
                    margin-top: 0.7em;
                }
            }

            .tags {
                display: block;
                text-align: right;
            }
        }
    }
}

/*.link-external:after {
    content: "";
    width: 15px;
    height: 1em;
    background-image: url("/assets/img/icon/external-arrow.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}*/

.main-body {
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
}

.flex-v-center {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.flex-50-50 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flex-50-50 * {
    width: 100%;
}

/*.blog-content {
    column-count: 3;
    column-gap: 2rem;
    break-inside: avoid;*/
/* older fallbacks: */
/*-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    max-width: none;
}*/

.blog-recap-content {
    column-count: 1;
    column-gap: 4rem;
    word-wrap: anywhere;
    max-width: 40rem;
    display: block;
    margin: 0 auto;
}

@media(min-width: 1200px) {
    .blog-recap-content {
        column-count: 3;
        max-width: 100%;
    }
}

.blog-recap-content header, .blog-recap-content footer {
    column-span: all;
}

.blog-recap-content h2 {
    margin-top: 4rem;
    break-after: avoid;
    break-inside: avoid;
    -webkit-column-break-after: avoid; /* for older Safari/Chrome */
    -webkit-column-break-inside: avoid;

    a {
        color: $primary-font-color;
    }

    :hover {
        font-style: italic;
    }
}

.blog-recap-content p {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

.blog-recap-content img {
    display: block;
    margin: 0 auto;
}

.blog-recap-content article {
    break-inside: avoid;
    page-break-inside: avoid;
    column-break-inside: avoid;
}