---
layout: default
---

<!--<section class="breadcrumbs">
    <a href="/">home</a> /
    <a href="/blog">blog</a> /
    {{page.name}}
</section>-->

<div class="blog-content {{page.containerClassOverrides}}">
    <h1>{{page.name}}</h1>
    <p class="tag-container">
        {% for tag in page.tags %}
        <span class="tag {{tag | downcase}}">[{{tag}}]</span>
        {% endfor %}
    </p>
    <p>{{ page.date | date_to_string }}</p>

    {{page.content}}

    {% include blog-prev-next.html %}
    <!--<a href="#" class="back-to-top">back to top</a>-->
</div>

